#sideContent{
	width:150px;
	height:100%;
}

#img_side_gpIcon{
	background-image:url(../_images/studyGroup/Icon_defaultCat_copy.png);
	width:160px;
	height:151px;
	background-position:top;
	background-position:0px 4px; /* Chrome  */
	background-position:0px 2px \9;  
	background-repeat:no-repeat;
	position:absolute;
}

#div_gpIcon{
	position:absolute;
	background-
	width:300x;
	height:90px;
	top:45px;
	left:7px; /* Chrome  */
	top:42px \9;  
}

#img_gpIcon{
	position:absolute;
}

#text_sideGpName{
	width:150px;
	clear:both;
	display:inline-block;
	text-align:center;
	margin-right:6px;
}

#mainContent{
	padding-left:30px;
	vertical-align:top;
}

#tr_messageBox_Page1{
	background-image:url(../_images/studyGroup/title_icon.png);
	width:811px;
	height:90px;
	background-repeat:no-repeat;
	background-position:top left;
}


.bg_TopWhite765{
	background-image:url(../_images/study/820Top.png);
	width:820px;
	height:7px;
	background-repeat:no-repeat;
	background-position:bottom left;
}

.bg_middleWhite765{
	background-image:url(../_images/study/820Middle.png);
	background-color:white\9;
	width:820px;
	height:100%;
	min-height:100px;
	background-repeat:repeat;
	background-position:top left;
	
}

.bg_BottomWhite765{
	background-image:url(../_images/study/820Bottom.png);
	width:820px;
	height:5px;
	background-repeat:no-repeat;
	background-position:top left;
}

.bg_stage{
	background-image:url(../_images/studyGroup/bg_stage2.png);
	width:510px;
	height:419px;
	background-repeat:no-repeat;
	background-position:-4px 0px;
}

#table_change_gpInfo{
	background-image:url(../_images/studyGroup/bg_stage3.png);
	width:472px;
	height:450px;
	background-repeat:no-repeat;
	background-position:-4px 40px;
}

.bg_whitew426{
	background-image:url(../_images/studyGroup/white_W350.png);
	width:360px;
	height:460px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:8px;
	padding-top:3px;
	overflow:hidden scroll;
}

#table_gp_detail{
	width:345px;
	height:460px;
}

#label_gp_scratch{
line-break:normal;
width:320px;
}

.bg_whitew720{
	width:720px;
	height:100px;
	border:2px;
	border-color:white;
	border-radius:15px;
	border-color:#00ACEE\9;
	background-image:url(../_images/study/whiteW5.png) \9;
	background-color:rgba(255,255,255,0.5) ;
	
}

.bg_whitew250{
	width:250px;
	height:100px;
	border:2px;
	border-color:white;
	border-radius:15px;
	border-color:#00ACEE\9;
	background-image:url(../_images/study/whiteW5.png) \9;
	background-color:rgba(255,255,255,0.5) ;
}

#mainStage{
	margin-left:14px;
	margin-top:14px;
}

#tr_messageBox_Page1 { border-collapse: separate; }

#table_groupInfoTop{
	width:600px;
}
#div_gp_subject{
	text-align:center;
}

#td_groupInfoTop,.gp_subject{
	background-color:white;
	border: 3px white solid;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#td_groupInfoTop.s001 ,.gp_subject.s001{
	border: 3px #F5D0D0 solid;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#td_groupInfoTop.s002,.gp_subject.s002{
	border: 3px #FFD300 solid;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#td_groupInfoTop.s003,.gp_subject.s003{
	border: 3px #FFFF00 solid;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#td_groupInfoTop.s004,.gp_subject.s004{
	border: 3px #CBFF00 solid;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#td_groupInfoTop.s005,.gp_subject.s005{
	border: 3px #99DEF9 solid;
	-moz-border-radius: 6px;
	border-radius: 6px;
}


#td_groupInfoTop.s100,.gp_subject.s100{
	border: 3px #CCC0FF solid;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.W100{
	width:100px;
}

.gp_subject{
	left:-5px;
	top:6px;
}

.gp_subject,.gp_subject.s001{
	background-color:#FFD300;
}

.gp_subject.s002{
	background-color:#FFD303;
}

.gp_subject.s003{
	background-color:#FFFF00;
}

.gp_subject.s004{
	background-color: #CBFF00;
}

.gp_subject.s005{
	background-color:#99DEF9;
}

.gp_subject.s100{
	background-color:#CCCDFF;
}

#btn_fullscreen{
	background-image:url(../_images/study/btn_fullscreen.png);
	background-repeat:no-repeat;
	width:171px;
	height:44px;
}

#btn_fullscreen:hover{
	background-position:-172px;
}
#btn_like{
	background-image:url(../_images/study/btn_like_init2.png);
	background-repeat:no-repeat;
	width:170px;
	height:44px;
}

#btn_like.likeBtn,#btn_like.unlikeBtn:hover{
	background-position:0px 0px;
}

#btn_like.unlikeBtn,#btn_like.likeBtn:hover{
	background-position:-171px 0px;
}

#input_post_topic{
	width:500px;
	border:0px #FF6633 solid;
}

#div_post_topic{
	width:580px;
	border:1px #FF6633 solid;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	#div_post_topic{
		width:584px;
	}
}

#textarea_post_content{
	width:580px;
	height:50px;
	border:1px #FF6633 solid;
}


#text_sideOwnerName{
	width:60px;
	clear:both;
	display:inline-block;
	text-align:center;
}


#btn_addAttach{
	background-image:url(../_images/studyGroup/btn_addattach.png);
	background-repeat:no-repeat;
	width:154px;
	height:37px;
}

#btn_addAttach:hover{
	background-position:-154px;
}

#btn_submit{
	background-image:url(../_images/studyGroup/btn_sumbit.png);
	background-repeat:no-repeat;
	width:63px;
	height:34px;
}

#btn_submit:hover{
	background-position:-64px;
}


#btn_setScratch{
	/*position:absolute;*/
	background-image:url(../_images/studyGroup/btn_set_scratch2.png);
	background-repeat:no-repeat;
	width:122px;
	height:28px;
	vertical-align:bottom;
	background-position:0px;
	/*right:45px;*/
}

#btn_setScratch:hover{
	background-position:-122px;
}

#btn_addLink:hover,#btn_addScratch:hover,#btn_addVideo:hover,#btn_addImage:hover{
	background-position:0px -60px;
}

#btn_addLink{
	background-image:url(../_images/studyGroup/addlink.png);
	background-repeat:no-repeat;
	width:44px;
	height:60px;
}

#btn_addScratch{
	background-image:url(../_images/studyGroup/addScratch.png);
	background-repeat:no-repeat;
	width:57px;
	height:60px;
}

#btn_addVideo{
	background-image:url(../_images/studyGroup/addVideo.png);
	background-repeat:no-repeat;
	width:44px;
	height:60px;
}

#btn_addImage{
	background-image:url(../_images/studyGroup/btn_addPic.png);
	background-repeat:no-repeat;
	width:50px;
	height:60px;
}

#table_change_gpInfo textarea{
	width:320px;
	height:50px;
}

#btn_joinGp{
	position:absolute;
	background-image:url(../_images/studyGroup/btn_join.png);
	background-repeat:no-repeat;
	width:76px;
	height:37px;
	background-position:-2px 0px;
	right:15px;
	
}

#btn_joinGp:hover{
	background-position:-78px 0px;
}

#btn_unjoinGp{
	position:absolute;
	background-image:url(../_images/studyGroup/btn_unjoin.png);
	background-position:-2px 1px;
	background-position:0px 1px \9;
	background-repeat:no-repeat;
	width:76px;
	width:77px\9;
	height:37px;
	right:15px;
}

#btn_unjoinGp:hover{
	background-position:-78px 1px;
}

#textarea_gp_scratch{
	width:320px;
	height:50px;
}

#btn_goscratchsite{
	background-image:url(../_images/studyGroup/btn_goscratchsite28.png);
	background-repeat:no-repeat;
	background-position:0px -1px;
	width:63px;
	height:28px;
}

#btn_goscratchsite:hover{
	background-position:-63px -1px;
}
#btnhints_scratch{
	/*position:absolute;
	right:15px;*/
}

#iframe_Scratch.normal{
	width:100%;
	height:100%;
	min-width:450px;
	min-height:396px; 
}

#div_stage{
	z-index:10;
}

#span_likeNum{
	color:white;
	font-size:22px;
	vertical-align:super;
}

#td_gp_members{
	vertical-align:baseline;

}

.btn_quitFullScreen{
	background-image:url(../_images/study/btn_quitFullScreen.png);
	width:85px;
	height:189px;
	background-repeat:no-repeat;
	position:absolute;
	top:0px;
	margin-left:5px;
}

.btn_quitFullScreen:hover{
	background-position:-86px;
}

#btn_showInfoUpdate{
	position:absolute;
	top:215px;
	background-image:url(../_images/studyGroup/btn_showInfoUpdate.png);
	width:84px;
	height:30px;
	background-repeat:no-repeat;
	background-position:-1px;
}

#btn_showInfoUpdate:hover{
	background-position:-85px;
}
#tr_hints_scratch{
	position:relative;
}
#btn_close_scratchHint{
	position:absolute;
	right:0px;
}

.a_postTopicHint{
 margin-left:2px;
 padding:1px;
 padding-top:3px;
 background-color:#FFD37B;
}

.a_postTopicHint:hover{
 text-decoration:underline;
}

.newpost_attach_photo,#postUploadImg{
	max-width:300px;
}

#td_addedAttach{
	border:1px solid #DDDDDD;
}

#input_newpost_scratch,#input_newpost_link,#input_newpost_video{
	width:340px;
	margin-bottom:2px;
	vertical-align:middle;
}


.btn_add{
	background-color:orange;
	margin-left:5px;
	color:white;
	padding-left:3px;
	padding-right:3px;
}

.btn_add:hover{
	background-color:orange;
	text-decoration:underline;
	color:yellow;
}

.newpost_attach_delete{
	position:absolute;
	top:-10px;
	left:0px;
}

.new_post_attach_p{
	position:relative;
	padding-left:30px;
}

#table_newpost{
	max-width:800px;
}

#table_newpost .newpost_hint_close{
	position:absolute;
	top:0px;
}

.post_attach_image{
	max-width:600px;
}

.post_attach_info{
	display:inline-block;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
	background-color:white;
	border:2px #eeeeee solid;
}

.post_td_images,#img_side_ownerIcon{
	border:3px solid #bababa;
	background-color:white;
	width:60px;
	height:56px;
}

.post_td_images_small{
	border:2px solid #bababa;
	background-color:white;
	width:50px;
	height:46px;
	margin:5px;
	
}


.post_td_images{
	margin-top:10px;
	margin-bottom:10px;
}

.post_td_info{
	padding-left:12px;
}

.post_heading,.post_p_info{
	padding:0px;
	margin:0px;
	padding-top:10px;
	
}

.post_username,.comment_p_info,.comment_p_date{
	padding:0px;
	margin:0px;
	padding-top:5px;
	
}

.post_td_info{
	width:700px;

}

#post_table tr.post_tr,#post_table{
	padding:15px;
	margin:15px;
	border-top:1px solid #bababa;
	border-bottom:1px solid #bababa;
}

#post_table .post_delete,.postcomment_delete{
	padding:3px;
	color:black;
	background-color:#bababa;
	font-weight:bold;
	text-decoration:none;
}

#btn_morepost:hover, #post_table .post_delete:hover{
	text-decoration:underline;
}

#btn_morepost{
	padding:3px;
	color:black;
	background-color:#FFFECA;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}

#btn_udpatedScatch{
	background-image:url(../_images/studyGroup/btn_updatedScratch.png);
	background-repeat:no-repeat;
	width:76px;
	height:33px;
	vertical-align:bottom;
	background-position:-1px;
}

#btn_udpatedScatch:hover{
	background-position:-77px;
}

.btn_submitComment,.btn_showComment{
	padding:3px;
	color:#00ACEE;
	text-decoration:none;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border:2px #00ACEE solid;
}

.btn_submitComment:hover,.btn_showComment:hover{
	background:#00ACEE;
	color:white;
}

.comment_table{
	background-color:#EAEAEA;
	vertical-align:top;
	margin-top:10px;
	margin-bottom:10px;
}

.comment_table tr{
	border:#FFFFFF 1px solid;
}

.div_comment_hints{
	padding:1px;
	color:black;
	background-color:white;
	text-decoration:none;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin:3px;
	width:500px;
	border:#D8D8D8 2px solid;
}

.div_comment_hints a{
	margin:2px;
 	padding:1px;
 	padding-top:3px;
 	background-color:#D8D8D8;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display:inline-block;

}
